<!DOCTYPE html>
<html>
<head>
  <title>Vegan Food Rater 3000</title>
  <script src="https://use.fontawesome.com/f3f0aa6a92.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
	<input type="text" placeholder="search for a product">
	<i class="fa fa-search" aria-hidden="true"></i>
	
	<% if user_signed_in? %>
		<%= link_to "Add Product", new_product_path %>
		<%= link_to current_user.username, current_user %>
		<%= link_to "Log Out", destroy_user_session_path,:method => :delete %>
	<% else %>
		<%= link_to "Register", new_user_registration_path %>
		<%= link_to "Log In", new_user_session_path %>
	<% end %>
	</nav>
	<h1><%= link_to "Vegan Food Rater 3000", root_path %></h1>
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<div class="container">
<%= yield %>
</div>

</body>
</html>
